.ant-modal-body{
    .ant-form-item{
        // width: 80%;
        .ant-row{
            justify-content: center;
            .ant-col{
                margin-left: 0;
                button{
                    width: 100%;
                }
            }
        }
    }
    .signup{
        display: flex;
        justify-content: center;
    }
}